@font-face { font-family: 'Open Sans'; src: url('/fonts/OpenSans-Regular.ttf'); }

body {
  margin: 0;
  padding-top: 5%;
  background: url('/img/textures/ep_naturalblack.png');
}
* {
  font-family: 'Open Sans' !important;
}
.slider {
  overflow: hidden;
}
.slider .background {
  width: 100%;
  margin-top: -100px;
}

.category_label {
  padding-top: 	  15px !important;
  padding-bottom: 15px !important;
  text-align: left;
  padding-left: 30px !important;
}

.bars.icon {
  color: #4ab27e;
}

.scrolltop {
  margin-top: 50px !important;
}

.category_container {
  text-align: left;
}

.category_container .divider {
  padding-bottom: 20px;
  text-transform: none !important;
}

.category_container .divider img {
  vertical-align: middle;
  padding: 20px;
}
