@import url('https://fonts.googleapis.com/css?family=Open+Sans')

body
	margin: 0
	padding: 0

p
	font-family: 'Open Sans'

.slider
	overflow: hidden
	.background
		width: 100%
		margin-top: -100px

.menu
	background: rgba(0,0,0,.2) !important
	box-shadow: 2px 2px 4px rgba(0,0,0,.5)
	.item
		font-family: 'Open Sans'

.category_label
	font-family: 'Open Sans'

.bars.icon
	color: #4ab27e
